<template name="PlaylistInsert">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> PlaylistInsertInsertForm}}
	</div>
</template>

<template name="PlaylistInsertInsertForm">
	<div id="playlist-insert-insert-form" class="">
		<h2 id="component-title">
			Criar Lista de Reprodução
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}		
		
			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
            
			<div class="alert">
				<span class="required">* Campos obrigatórios</span>
			</div>
            
			<div class="form-group  field-playlist_id">
				<label for="playlist_id">
					ID da Playlist
				    <span class="required">*</span>
				</label>
				<div class="input-div">
					<input type="text" name="playlist_id" value="" class="form-control" autofocus="autofocus" required="required" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-created_time">
				<label for="created_time">
					Data de criação
				</label>
				<div class="input-div">
					<div class="input-group date">
						<input type="text" name="created_time" value="" class="form-control" data-type="date">
						<span class="input-group-addon">
							<i class="fa fa-calendar">
							</i>
						</span>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-publish_start">
				<label for="publish_start">
					Início da publicação
				</label>
				<div class="input-div">
					<div class="input-group date">
						<input type="text" name="publish_start" value="" class="form-control" data-type="date">
						<span class="input-group-addon">
							<i class="fa fa-calendar">
							</i>
						</span>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-publish_end">
				<label for="publish_end">
					Fim da publicação
				</label>
				<div class="input-div">
					<div class="input-group date">
						<input type="text" name="publish_end" value="" class="form-control" data-type="date">
						<span class="input-group-addon">
							<i class="fa fa-calendar">
							</i>
						</span>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-description">
				<label for="description">
					Descrição
				</label>
				<div class="input-div">
					<input type="text" name="description" value="" class="form-control" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-title">
				<label for="title">
					Título
				</label>
				<div class="input-div">
					<input type="text" name="title" value="" class="form-control" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-owner">
				<label for="owner">
					Proprietário
				</label>
				<div class="input-div">
					<input type="text" name="owner" value="" class="form-control" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-username">
				<label for="username">
					Usuário
				</label>
				<div class="input-div">
					<input type="text" name="username" value="" class="form-control" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-screenname">
				<label for="screenname">
					Screen Name
				</label>
				<div class="input-div">
					<input type="text" name="screenname" value="" class="form-control" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-thumbnail">
				<label for="thumbnail">
					Minatura
				</label>
				<div class="input-div">
					<input type="text" name="thumbnail" value="" class="form-control" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-videos_id">
				<label for="videos_id">
					Vídeos
				    <span class="required">*</span>
				</label>
				<div class="input-div">
					<input type="text" name="videos_id" value="" class="form-control" required="required" data-type="array">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-keywords">
				<label for="keywords">
					Palavras-chave
				</label>
				<div class="input-div">
					<input type="text" name="keywords" value="" class="form-control" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-is_active">
				<label for="is_active">
					Ativo
				    <span class="required">*</span>
				</label>
				<div class="input-div">
					<div class="radio">
						<label>
							<input type="radio" value="true" name="is_active" data-type="bool" checked>
							Sim
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" value="false" name="is_active" data-type="bool">
							Não
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

