<template name="FeedsInsert">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> FeedsInsertInsertForm}}
	</div>
</template>

<template name="FeedsInsertInsertForm">
	<div id="feeds-insert-insert-form" class="">
		<h2 id="component-title">
			Criar Publicação
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}		
		
			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-username">
				<label for="username">
					Usuário
				</label>
				<div class="input-div">
					<input type="text" name="username" value="" class="form-control" autofocus="autofocus" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-screenname">
				<label for="screenname">
					Screen Name
				</label>
				<div class="input-div">
					<input type="text" name="screenname" value="" class="form-control" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-item_id">
				<label for="item_id">
					ID do item
				</label>
				<div class="input-div">
					<input type="text" name="item_id" value="" class="form-control" required="required" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-title">
				<label for="title">
					Título
				</label>
				<div class="input-div">
					<input type="text" name="title" value="" class="form-control" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-created_time">
				<label for="created_time">
					Data de criação
				</label>
				<div class="input-div">
					<div class="input-group date">
						<input type="text" name="created_time" value="" class="form-control" data-type="date">
						<span class="input-group-addon">
							<i class="fa fa-calendar">
							</i>
						</span>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-publish_start">
				<label for="publish_start">
					Início da publicação
				</label>
				<div class="input-div">
					<div class="input-group date">
						<input type="text" name="publish_start" value="" class="form-control" data-type="date">
						<span class="input-group-addon">
							<i class="fa fa-calendar">
							</i>
						</span>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-publish_end">
				<label for="publish_end">
					Fim da publicação
				</label>
				<div class="input-div">
					<div class="input-group date">
						<input type="text" name="publish_end" value="" class="form-control" data-type="date">
						<span class="input-group-addon">
							<i class="fa fa-calendar">
							</i>
						</span>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-tiny_url">
				<label for="tiny_url">
					URL curta
				</label>
				<div class="input-div">
					<input type="text" name="tiny_url" value="" class="form-control" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-description">
				<label for="description">
					Descrição
				</label>
				<div class="input-div">
					<input type="text" name="description" value="" class="form-control" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-tags">
				<label for="tags">
					Tags
				</label>
				<div class="input-div">
					<input type="text" name="tags" value="" class="form-control" data-type="array">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-owner">
				<label for="owner">
					Proprietário
				</label>
				<div class="input-div">
					<input type="text" name="owner" value="" class="form-control" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-thumbnail">
				<label for="thumbnail">
					Minatura
				</label>
				<div class="input-div">
					<input type="text" name="thumbnail" value="" class="form-control" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-source">
				<label for="source">
					Fonte
				</label>
				<div class="input-div">
					<input type="text" name="source" value="" class="form-control" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-keywords">
				<label for="keywords">
					Palavras-chave
				</label>
				<div class="input-div">
					<input type="text" name="keywords" value="" class="form-control" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-media_type">
				<label for="media_type">
					Tipo de arquivo
				</label>
				<div class="input-div">
					<input type="text" name="media_type" value="" class="form-control" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-is_teaser">
				<label for="is_teaser">
					É teaser
				</label>
				<div class="input-div">
					<div class="radio">
						<label>
							<input type="radio" value="true" name="is_teaser" data-type="bool" checked>
							Sim
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" value="false" name="is_teaser" data-type="bool">
							Não
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-playlists_id">
				<label for="playlists_id">
					IDs das playlists
				</label>
				<div class="input-div">
					<input type="text" name="playlists_id" value="" class="form-control" data-type="array">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-priority">
				<label for="priority">
					Prioridade
				</label>
				<div class="input-div">
					<input type="text" name="priority" value="999" class="form-control" required="required" data-type="integer" data-min="0">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-is_active">
				<label for="is_active">
					Ativo
				</label>
				<div class="input-div">
					<div class="radio">
						<label>
							<input type="radio" value="true" name="is_active" data-type="bool" checked>
							Sim
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" value="false" name="is_active" data-type="bool">
							Não
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

